body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #EAECEE;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.Weather {
	background-color: #AED6F1;
}

.error {
	color: red
}

@charset "UTF-8";